* {
    margin: 0;
    padding: 0;
    border-style: none;
}

.header {
    width: 100%;
    height: 120vh;
    background: linear-gradient( #FFBB70 ) right / 35% no-repeat;
}

.header-top {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
}

.header-top .logo  {
    display: block;
    width: fit-content;
    height: fit-content;
    padding-right: 300px;
    cursor: pointer;
}

.header-top .logo img {
    width: 80px;
}

.header-top ul {
    border-style: none;
}

.header-top ul li {
    list-style: none;
    display: inline-block;
}

.header-top ul li .unique {
    color: #FFBB70;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
}

.header-top ul li .same {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #57564F;
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
}

.search-cart {
    display: inline-flex ;
    position: relative;
    z-index: 2;
}

.header-top .search-tag {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.header-top .search-tag img {
    width: 25px;
    height: 25px;
    display: block;
    align-self: center;
    padding: 0 10px;
}

.header-top .search-tag input {
    width: 180px;
    height: 40px;
    display: block;
    align-self: center;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: #57564F;
}

.cart {
    display: block;
    align-self: center;
    cursor: pointer;
}

.cart img {
    width: 40px;
}

.hero-section {
    width: 80%;
    height: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.first-section {
    display: block;
}

.first-section h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #521C0D;
    line-height: 80px;
    margin-bottom: 20px;
}

.first-section span {
    color: #FFB22C;
}

.first-section p {
    width: 420px;
    color: #521C0D;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}

.first-section button {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #521C0D;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    gap: 10px;
}


.first-section button:hover {
    background-color: #FFBB70;
    cursor: pointer;
}

.first-section button:hover .cart-svg {
    background-color: #521C0D;
}

.first-section button .cart-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #FFBB70;
    border-radius: 50%;
}

.first-section button .cart-svg:hover {
    background-color: #521C0D;
}

.first-section button .cart-svg svg {
    height: 16px;
    width: 16px;
}

.hero-bg {
    display: flex;
    width: 400px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.hero-bg img {
    width: 900px;
    height: 600px;
    margin-right: 100px;
}

.beans-bg {
    position: relative;
}

.beans-bg img {
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    left: -281px;
}

.second-container {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -350px;
    padding-bottom: 100px;
}

.second-container .drinks-option {
    width: 1200px;
    height: 200px;
    background-color: #F6E6CB;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    gap: 50px;
    text-align: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A120B;
    text-transform: uppercase;
}

.second-container .drinks-option img {
    height: 100px;
    width: 100px;
    margin: 10px 40px;
}

.second-container .drinks-option .cold-coffee {
    color: #7B4019;
}

.third-container {
    width: 100%;
    margin-top: 200px;
}

.top-menu {
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.third-container .top-menu h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 1px;
}

.third-container .top-menu h2 span {
    text-decoration: underline #FFBB70;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 4px;
}

.cold-container {
    width: 100%;
    display: flex;
    margin: 50px auto;
}

.cold-container .spacing {
    margin: 0 10px;
}

.frappe {
    width: 300px;
    height: 460px;
    display: block;
    background-color: #854836;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.frappe .img-frappe {
    display: block;
    height: fit-content;
    width: fit-content;
}

.frappe .img-frappe img {
    width: 250px;
    height: 150px;
    display: block;
    margin: 15px 20px;
}

.frappe h3 {
    color: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 10px 0;
    margin-left: 15px;
}

.frappe p {
    width: 230px;
    margin-left: 20px;
    color: #F6E6CB;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.frappe .price-order {
    width: 100%;
    display: flex;
    margin-top: 30px;
    gap: 100px;
}

.frappe .price-order h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.frappe .price-order button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #A34A28;
    color: #fff;
    font-size: 15px;
    margin-top: 2px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.macchiato {
    width: 350px;
    height: 520px;
    display: block;
    background-color: #FFBB70;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 25px;
}

.macchiato .img-macchiato{
    display: block;
    height: fit-content;
    width: fit-content;
}

.macchiato .img-macchiato img {
    width: 270px;
    height: 170px;
    display: block;
    margin: 20px 20px;
}

.macchiato h3 {
    color: #7B4019;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-left: 20px;
    margin-bottom: 20px;
}

.macchiato p {
    width: 260px;
    margin-left: 20px;
    color: #A34A28;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.macchiato .price-order {
    width: 100%;
    display: flex;
    margin-top: 40px;
    gap: 100px;
}

.macchiato .price-order h3 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.macchiato .price-order button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #A34A28;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.affogato {
    width: 300px;
    height: 460px;
    display: block;
    background-color: #854836;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.affogato .img-affogato{
    display: block;
    height: fit-content;
    width: fit-content;
}

.affogato .img-affogato img {
    width: 250px;
    height: 150px;
    display: block;
    margin: 15px 20px;
}

.affogato h3 {
    color: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 10px 0;
    margin-left: 20px;
}

.affogato p {
    width: 240px;
    margin-left: 20px;
    color: #F6E6CB;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.affogato .price-order {
    width: 100%;
    display: flex;
    margin-top: 30px;
    gap: 75px;
}

.affogato.price-order h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.affogato .price-order button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #A34A28;
    color: #fff;
    font-size: 15px;
    margin-top: 2px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.cold-brew {
    width: 300px;
    height: 460px;
    display: block;
    background-color: #854836;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.cold-brew .img-brew{
    display: block;
    height: fit-content;
    width: fit-content;
}

.cold-brew .img-brew img {
    width: 250px;
    height: 150px;
    display: block;
    margin: 15px 20px;
}

.cold-brew h3 {
    color: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 10px 0;
    margin-left: 20px;
}

.cold-brew p {
    width: 230px;
    margin-left: 20px;
    color: #F6E6CB;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.cold-brew .price-order {
    width: 100%;
    display: flex;
    margin: 10px auto;
    gap: 100px;
}

.cold-brew .price-order h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.cold-brew .price-order button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #A34A28;
    color: #fff;
    font-size: 15px;
    margin-top: 2px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.prev {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    background-color: #fff;
    color: #A34A28;
    position: absolute;
    left: 215px;
    margin-top: 200px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.next {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    background-color: #fff;
    color: #A34A28;
    position: absolute;
    right: 160px;
    margin-top: 200px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.fourth-container {
    width: 100%;
    height: 200px;
    background-color: #F4E7E1;
    display: block;
    margin-bottom: 100px;
}

.fourth-container .fourth-info {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.fourth-container .fourth-info img {
    width: 130px;
    margin-right: 30px;
}

.fourth-container .fourth-info .star-info h3 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #1A120B;
    margin-bottom: 20px;
}

.fourth-container .fourth-info .star-info p {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #1A120B;
}

.fifth-container {
    width: 100%;
    display: block;
}

.fifth-container .fifth-ordering {
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.fifth-container .fifth-ordering h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.fifth-container .fifth-ordering h2 span {
    text-decoration: underline #FFBB70;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 4px;
}

.fifth-container .fifth-ordering .fifth-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
}

.fifth-menu .menu {
    display: block;
    background-color: #854836;
    margin: 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
} 

.fifth-menu .menu img {
    display: block;
    height: 150px;
    width: 230px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
}

.fifth-menu .frappe-img{
    height: 150px;
    width: 230px;
    background-image: url(./assets/menu_item_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fifth-menu h3 {
    color: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: 5px;
    margin-left: 20px;
}

.fifth-menu .fifth-price {
    width: 100%;
    display: flex;
    margin: 5px 20px;
    gap: 60px;
}

.fifth-menu .fifth-price p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
}

.fifth-menu .fifth-price button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #A34A28;
    color: #fff;
    font-size: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.menu button:hover {
    cursor: pointer;
}

.menu button:hover ~ .menu, 
.menu:hover {
    background-color: #FFBB70;
}

.sixth-container {
    height: 500px;
    width: 100%;
    display: block;
    background-color: #F3E2D4;
    margin-bottom: 100px;
}

.sixth-container .banner-info {
    display: flex;
    width: 1200px;
    height: 100%;
    margin: 20px auto;
}

.sixth-container .banner-info .barista-container {
    display: block;
    height: fit-content;
    width: fit-content;
    padding: 5px 8px 2px 8px;
    background-color: #fff;
    margin: 45px 0;
    border-radius: 10px;
}

.sixth-container .banner-info .barista-container img {
    height: 400px;
    width: 500px;
    border-radius: 10px;
}

.sixth-container .banner-info .barista-info {
    display: block;
    height: 100%;
    margin: 50px 100px;
}

.sixth-container .banner-info .barista-info h3 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 60px;
    color: #1A120B;
}

.sixth-container .banner-info .barista-info span {
    text-decoration: underline #FFBB70;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 4px;   
}

.sixth-container .banner-info .barista-info h4 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;
    color: #1A120B;
}

.sixth-container .banner-info .barista-info p {
    width: 580px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 20px;
    line-height: 35px;
    color: #1A120B;   
}

.sixth-container .banner-info .barista-info button {
    height: 40px;
    width: 150px;
    background-color: #521C0D;
    color: #FFBB70;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 50px;
    font-size: 14px;
}